:root {
  --primary-10: #21005d;
  --primary-20: #381e72;
  --primary-30: #4f378b;
  --primary-40: #6750a4;
  --primary-50: #7f67be;
  --primary-60: #9a82db;
  --primary-70: #b69df8;
  --primary-80: #d0bcff;
  --primary-90: #eaddff;
  --primary-87: #edeaf4;
  --primary-92: #f1eff7;
  --primary-95: #f6f4f9;
  --primary-96: #f7f6fa;
  --primary-98: #fcfcfd;
  --primary-99: #fdfdfe;
  --secondary-10: #1d192b;
  --secondary-20: #332d41;
  --secondary-30: #4a4458;
  --secondary-40: #625b71;
  --secondary-50: #7a7289;
  --secondary-60: #958da5;
  --secondary-70: #b0a7c0;
  --secondary-80: #ccc2dc;
  --secondary-90: #e8def8;
  --secondary-87: #ecebee;
  --secondary-92: #f1f0f2;
  --secondary-95: #f5f5f6;
  --secondary-96: #f7f7f8;
  --secondary-98: #fcfcfc;
  --secondary-99: #fdfdfe;
  --tertiary-10: #31111d;
  --tertiary-20: #492532;
  --tertiary-30: #633b48;
  --tertiary-40: #7d5260;
  --tertiary-50: #986977;
  --tertiary-60: #b58392;
  --tertiary-70: #d29dac;
  --tertiary-80: #efb8c8;
  --tertiary-90: #ffd8e4;
  --tertiary-87: #efeaec;
  --tertiary-92: #f3eff1;
  --tertiary-95: #f7f4f5;
  --tertiary-96: #f9f6f7;
  --tertiary-98: #fcfcfc;
  --tertiary-99: #fefdfd;
  --error-10: #410e0b;
  --error-20: #601410;
  --error-30: #8c1d18;
  --error-40: #b3261e;
  --error-50: #dc362e;
  --error-60: #e46962;
  --error-70: #ec928e;
  --error-80: #f2b8b5;
  --error-90: #f9dedc;
  --error-87: #f6e5e4;
  --error-92: #f8ebeb;
  --error-95: #faf1f1;
  --error-96: #fbf4f4;
  --error-98: #fdfbfb;
  --error-99: #fefdfd;
  --neutral-10: #1d1b20;
  --neutral-20: #322f35;
  --neutral-30: #48464c;
  --neutral-40: #605d64;
  --neutral-50: #79767d;
  --neutral-60: #938f96;
  --neutral-70: #aea9b1;
  --neutral-80: #cac5cd;
  --neutral-90: #e6e0e9;
  --neutral-87: #ececec;
  --neutral-92: #f1f0f1;
  --neutral-95: whitesmoke;
  --neutral-96: #f7f7f7;
  --neutral-98: #fcfcfc;
  --neutral-99: #fdfdfd;
}
:root:not([data-theme=dark]) {
  --primary: var(--primary-40);
  --on-primary: #fff;
  --primary-container: var(--primary-90);
  --on-primary-container: var(--primary-10);
  --primary-fixed: var(--primary-90);
  --on-primary-fixed: var(--primary-90);
  --primary-fixed-dim: var(--primary-80);
  --on-primary-fixed-dim: var(--primary-80);
  --secondary: var(--secondary-40);
  --on-secondary: #fff;
  --secondary-container: var(--secondary-90);
  --on-secondary-container: var(--secondary-10);
  --secondary-fixed: var(--secondary-90);
  --on-secondary-fixed: var(--secondary-90);
  --secondary-fixed-dim: var(--secondary-80);
  --on-secondary-fixed-dim: var(--secondary-80);
  --tertiary: var(--tertiary-40);
  --on-tertiary: #fff;
  --tertiary-container: var(--tertiary-90);
  --on-tertiary-container: var(--tertiary-10);
  --tertiary-fixed: var(--tertiary-90);
  --on-tertiary-fixed: var(--tertiary-90);
  --tertiary-fixed-dim: var(--tertiary-80);
  --on-tertiary-fixed-dim: var(--tertiary-80);
  --error: var(--error-40);
  --on-error: #fff;
  --error-container: var(--error-90);
  --on-error-container: var(--error-10);
  --error-fixed: var(--error-90);
  --on-error-fixed: var(--error-90);
  --error-fixed-dim: var(--error-80);
  --on-error-fixed-dim: var(--error-80);
  --surface-dim: var(--neutral-87);
  --surface: var(--neutral-98);
  --on-surface: var(--neutral-10);
  --surface-bright: var(--neutral-99);
  --container-lowest: #fff;
  --container-low: var(--neutral-98);
  --container: var(--neutral-95);
}
:root[data-theme=dark] {
  --primary: var(--primary-80);
  --on-primary: var(--primary-20);
  --primary-container: var(--primary-30);
  --on-primary-container: var(--primary-90);
  --primary-fixed: var(--primary-90);
  --on-primary-fixed: var(--primary-10);
  --primary-fixed-dim: var(--primary-80);
  --on-primary-fixed-dim: var(--primary-30);
  --secondary: var(--secondary-80);
  --on-secondary: var(--secondary-20);
  --secondary-container: var(--secondary-30);
  --on-secondary-container: var(--secondary-90);
  --secondary-fixed: var(--secondary-90);
  --on-secondary-fixed: var(--secondary-10);
  --secondary-fixed-dim: var(--secondary-80);
  --on-secondary-fixed-dim: var(--secondary-30);
  --tertiary: var(--tertiary-80);
  --on-tertiary: var(--tertiary-20);
  --tertiary-container: var(--tertiary-30);
  --on-tertiary-container: var(--tertiary-90);
  --tertiary-fixed: var(--tertiary-90);
  --on-tertiary-fixed: var(--tertiary-10);
  --tertiary-fixed-dim: var(--tertiary-80);
  --on-tertiary-fixed-dim: var(--tertiary-30);
  --error: var(--error-80);
  --on-error: var(--error-20);
  --error-container: var(--error-30);
  --on-error-container: var(--error-90);
  --error-fixed: var(--error-90);
  --on-error-fixed: var(--error-10);
  --error-fixed-dim: var(--error-80);
  --on-error-fixed-dim: var(--error-30);
  --surface-dim: var(--neutral-10);
  --surface: var(--neutral-10);
  --on-surface: var(--neutral-90);
  --surface-bright: var(--neutral-20);
  --container-lowest: var(--neutral-10);
  --container-low: var(--neutral-10);
  --container: var(--neutral-10);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--container-lowest);
  color: var(--on-surface);
}

button {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  text-transform: none;
  outline: none;
  border: none;
}

button,
[type=submit],
[type=reset],
[type=button] {
  -webkit-appearance: button;
}

button,
[type=submit],
[type=reset],
[type=button],
[type=file]::file-selector-button,
[role=button] {
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
}
