@mixin themes-colors() {
	&:not([data-theme="dark"]) {
		--cs-primary: #415F91;
		--cs-surface-tint: #415F91;
		--cs-on-primary: #FFFFFF;
		--cs-primary-container: #D6E3FF;
		--cs-on-primary-container: #001B3E;
		--cs-secondary: #565F71;
		--cs-on-secondary: #FFFFFF;
		--cs-secondary-container: #DAE2F9;
		--cs-on-secondary-container: #131C2B;
		--cs-tertiary: #705575;
		--cs-on-tertiary: #FFFFFF;
		--cs-tertiary-container: #FAD8FD;
		--cs-on-tertiary-container: #28132E;
		--cs-error: #BA1A1A;
		--cs-on-error: #FFFFFF;
		--cs-error-container: #FFDAD6;
		--cs-on-error-container: #410002;
		--cs-background: #F9F9FF;
		--cs-on-background: #191C20;
		--cs-surface: #F9F9FF;
		--cs-on-surface: #191C20;
		--cs-surface-variant: #E0E2EC;
		--cs-on-surface-variant: #44474E;
		--cs-outline: #74777F;
		--cs-outline-variant: #C4C6D0;
		--cs-shadow: #000000;
		--cs-scrim: #000000;
		--cs-inverse-surface: #2E3036;
		--cs-inverse-on-surface: #F0F0F7;
		--cs-inverse-primary: #AAC7FF;
		--cs-primary-fixed: #D6E3FF;
		--cs-on-primary-fixed: #001B3E;
		--cs-primary-fixed-dim: #AAC7FF;
		--cs-on-primary-fixed-variant: #284777;
		--cs-secondary-fixed: #DAE2F9;
		--cs-on-secondary-fixed: #131C2B;
		--cs-secondary-fixed-dim: #BEC6DC;
		--cs-on-secondary-fixed-variant: #3E4759;
		--cs-tertiary-fixed: #FAD8FD;
		--cs-on-tertiary-fixed: #28132E;
		--cs-tertiary-fixed-dim: #DDBCE0;
		--cs-on-tertiary-fixed-variant: #573E5C;
		--cs-surface-dim: #D9D9E0;
		--cs-surface-bright: #F9F9FF;
		--cs-surface-container-lowest: #FFFFFF;
		--cs-surface-container-low: #F3F3FA;
		--cs-surface-container: #EDEDF4;
		--cs-surface-container-high: #E7E8EE;
		--cs-surface-container-highest: #E2E2E9;
	}

	&[data-theme="dark"] {
		--cs-primary: #AAC7FF;
		--cs-surface-tint: #AAC7FF;
		--cs-on-primary: #0A305F;
		--cs-primary-container: #284777;
		--cs-on-primary-container: #D6E3FF;
		--cs-secondary: #BEC6DC;
		--cs-on-secondary: #283141;
		--cs-secondary-container: #3E4759;
		--cs-on-secondary-container: #DAE2F9;
		--cs-tertiary: #DDBCE0;
		--cs-on-tertiary: #3F2844;
		--cs-tertiary-container: #573E5C;
		--cs-on-tertiary-container: #FAD8FD;
		--cs-error: #FFB4AB;
		--cs-on-error: #690005;
		--cs-error-container: #93000A;
		--cs-on-error-container: #FFDAD6;
		--cs-background: #111318;
		--cs-on-background: #E2E2E9;
		--cs-surface: #111318;
		--cs-on-surface: #E2E2E9;
		--cs-surface-variant: #44474E;
		--cs-on-surface-variant: #C4C6D0;
		--cs-outline: #8E9099;
		--cs-outline-variant: #44474E;
		--cs-shadow: #000000;
		--cs-scrim: #000000;
		--cs-inverse-surface: #E2E2E9;
		--cs-inverse-on-surface: #2E3036;
		--cs-inverse-primary: #415F91;
		--cs-primary-fixed: #D6E3FF;
		--cs-on-primary-fixed: #001B3E;
		--cs-primary-fixed-dim: #AAC7FF;
		--cs-on-primary-fixed-variant: #284777;
		--cs-secondary-fixed: #DAE2F9;
		--cs-on-secondary-fixed: #131C2B;
		--cs-secondary-fixed-dim: #BEC6DC;
		--cs-on-secondary-fixed-variant: #3E4759;
		--cs-tertiary-fixed: #FAD8FD;
		--cs-on-tertiary-fixed: #28132E;
		--cs-tertiary-fixed-dim: #DDBCE0;
		--cs-on-tertiary-fixed-variant: #573E5C;
		--cs-surface-dim: #111318;
		--cs-surface-bright: #37393E;
		--cs-surface-container-lowest: #0C0E13;
		--cs-surface-container-low: #191C20;
		--cs-surface-container: #1D2024;
		--cs-surface-container-high: #282A2F;
		--cs-surface-container-highest: #33353A;
	}
}