$light-primary: #03677E;
$light-surface-tint: #03677E;
$light-on-primary: #FFFFFF;
$light-primary-container: #B5EBFF;
$light-on-primary-container: #001F28;
$light-secondary: #4C626A;
$light-on-secondary: #FFFFFF;
$light-secondary-container: #CFE6F0;
$light-on-secondary-container: #071E26;
$light-tertiary: #595C7E;
$light-on-tertiary: #FFFFFF;
$light-tertiary-container: #E0E0FF;
$light-on-tertiary-container: #161937;
$light-error: #BA1A1A;
$light-on-error: #FFFFFF;
$light-error-container: #FFDAD6;
$light-on-error-container: #410002;
$light-background: #F5FAFD;
$light-on-background: #171C1F;
$light-surface: #F5FAFD;
$light-on-surface: #171C1F;
$light-surface-variant: #DBE4E8;
$light-on-surface-variant: #40484B;
$light-outline: #70787C;
$light-outline-variant: #BFC8CC;
$light-shadow: #000000;
$light-scrim: #000000;
$light-inverse-surface: #2C3134;
$light-inverse-on-surface: #EDF1F4;
$light-inverse-primary: #87D1EB;
$light-primary-fixed: #B5EBFF;
$light-on-primary-fixed: #001F28;
$light-primary-fixed-dim: #87D1EB;
$light-on-primary-fixed-variant: #004E5F;
$light-secondary-fixed: #CFE6F0;
$light-on-secondary-fixed: #071E26;
$light-secondary-fixed-dim: #B3CAD4;
$light-on-secondary-fixed-variant: #344A52;
$light-tertiary-fixed: #E0E0FF;
$light-on-tertiary-fixed: #161937;
$light-tertiary-fixed-dim: #C2C3EB;
$light-on-tertiary-fixed-variant: #424465;
$light-surface-dim: #D6DBDD;
$light-surface-bright: #F5FAFD;
$light-surface-container-lowest: #FFFFFF;
$light-surface-container-low: #EFF4F7;
$light-surface-container: #EAEFF1;
$light-surface-container-high: #E4E9EC;
$light-surface-container-highest: #DEE3E6;
$dark-primary: #87D1EB;
$dark-surface-tint: #87D1EB;
$dark-on-primary: #003543;
$dark-primary-container: #004E5F;
$dark-on-primary-container: #B5EBFF;
$dark-secondary: #B3CAD4;
$dark-on-secondary: #1D333B;
$dark-secondary-container: #344A52;
$dark-on-secondary-container: #CFE6F0;
$dark-tertiary: #C2C3EB;
$dark-on-tertiary: #2B2E4D;
$dark-tertiary-container: #424465;
$dark-on-tertiary-container: #E0E0FF;
$dark-error: #FFB4AB;
$dark-on-error: #690005;
$dark-error-container: #93000A;
$dark-on-error-container: #FFDAD6;
$dark-background: #0F1416;
$dark-on-background: #DEE3E6;
$dark-surface: #0F1416;
$dark-on-surface: #DEE3E6;
$dark-surface-variant: #40484B;
$dark-on-surface-variant: #BFC8CC;
$dark-outline: #899296;
$dark-outline-variant: #40484B;
$dark-shadow: #000000;
$dark-scrim: #000000;
$dark-inverse-surface: #DEE3E6;
$dark-inverse-on-surface: #2C3134;
$dark-inverse-primary: #03677E;
$dark-primary-fixed: #B5EBFF;
$dark-on-primary-fixed: #001F28;
$dark-primary-fixed-dim: #87D1EB;
$dark-on-primary-fixed-variant: #004E5F;
$dark-secondary-fixed: #CFE6F0;
$dark-on-secondary-fixed: #071E26;
$dark-secondary-fixed-dim: #B3CAD4;
$dark-on-secondary-fixed-variant: #344A52;
$dark-tertiary-fixed: #E0E0FF;
$dark-on-tertiary-fixed: #161937;
$dark-tertiary-fixed-dim: #C2C3EB;
$dark-on-tertiary-fixed-variant: #424465;
$dark-surface-dim: #0F1416;
$dark-surface-bright: #343A3C;
$dark-surface-container-lowest: #0A0F11;
$dark-surface-container-low: #171C1F;
$dark-surface-container: #1B2023;
$dark-surface-container-high: #252B2D;
$dark-surface-container-highest: #303638;

@mixin themes-colors() {
	&:not([data-theme="dark"]) {
		--cs-primary: #03677E;
		--cs-surface-tint: #03677E;
		--cs-on-primary: #FFFFFF;
		--cs-primary-container: #B5EBFF;
		--cs-on-primary-container: #001F28;
		--cs-secondary: #4C626A;
		--cs-on-secondary: #FFFFFF;
		--cs-secondary-container: #CFE6F0;
		--cs-on-secondary-container: #071E26;
		--cs-tertiary: #595C7E;
		--cs-on-tertiary: #FFFFFF;
		--cs-tertiary-container: #E0E0FF;
		--cs-on-tertiary-container: #161937;
		--cs-error: #BA1A1A;
		--cs-on-error: #FFFFFF;
		--cs-error-container: #FFDAD6;
		--cs-on-error-container: #410002;
		--cs-background: #F5FAFD;
		--cs-on-background: #171C1F;
		--cs-surface: #F5FAFD;
		--cs-on-surface: #171C1F;
		--cs-surface-variant: #DBE4E8;
		--cs-on-surface-variant: #40484B;
		--cs-outline: #70787C;
		--cs-outline-variant: #BFC8CC;
		--cs-shadow: #000000;
		--cs-scrim: #000000;
		--cs-inverse-surface: #2C3134;
		--cs-inverse-on-surface: #EDF1F4;
		--cs-inverse-primary: #87D1EB;
		--cs-primary-fixed: #B5EBFF;
		--cs-on-primary-fixed: #001F28;
		--cs-primary-fixed-dim: #87D1EB;
		--cs-on-primary-fixed-variant: #004E5F;
		--cs-secondary-fixed: #CFE6F0;
		--cs-on-secondary-fixed: #071E26;
		--cs-secondary-fixed-dim: #B3CAD4;
		--cs-on-secondary-fixed-variant: #344A52;
		--cs-tertiary-fixed: #E0E0FF;
		--cs-on-tertiary-fixed: #161937;
		--cs-tertiary-fixed-dim: #C2C3EB;
		--cs-on-tertiary-fixed-variant: #424465;
		--cs-surface-dim: #D6DBDD;
		--cs-surface-bright: #F5FAFD;
		--cs-surface-container-lowest: #FFFFFF;
		--cs-surface-container-low: #EFF4F7;
		--cs-surface-container: #EAEFF1;
		--cs-surface-container-high: #E4E9EC;
		--cs-surface-container-highest: #DEE3E6;
	}

	&[data-theme="dark"] {
		--cs-primary: #87D1EB;
		--cs-surface-tint: #87D1EB;
		--cs-on-primary: #003543;
		--cs-primary-container: #004E5F;
		--cs-on-primary-container: #B5EBFF;
		--cs-secondary: #B3CAD4;
		--cs-on-secondary: #1D333B;
		--cs-secondary-container: #344A52;
		--cs-on-secondary-container: #CFE6F0;
		--cs-tertiary: #C2C3EB;
		--cs-on-tertiary: #2B2E4D;
		--cs-tertiary-container: #424465;
		--cs-on-tertiary-container: #E0E0FF;
		--cs-error: #FFB4AB;
		--cs-on-error: #690005;
		--cs-error-container: #93000A;
		--cs-on-error-container: #FFDAD6;
		--cs-background: #0F1416;
		--cs-on-background: #DEE3E6;
		--cs-surface: #0F1416;
		--cs-on-surface: #DEE3E6;
		--cs-surface-variant: #40484B;
		--cs-on-surface-variant: #BFC8CC;
		--cs-outline: #899296;
		--cs-outline-variant: #40484B;
		--cs-shadow: #000000;
		--cs-scrim: #000000;
		--cs-inverse-surface: #DEE3E6;
		--cs-inverse-on-surface: #2C3134;
		--cs-inverse-primary: #03677E;
		--cs-primary-fixed: #B5EBFF;
		--cs-on-primary-fixed: #001F28;
		--cs-primary-fixed-dim: #87D1EB;
		--cs-on-primary-fixed-variant: #004E5F;
		--cs-secondary-fixed: #CFE6F0;
		--cs-on-secondary-fixed: #071E26;
		--cs-secondary-fixed-dim: #B3CAD4;
		--cs-on-secondary-fixed-variant: #344A52;
		--cs-tertiary-fixed: #E0E0FF;
		--cs-on-tertiary-fixed: #161937;
		--cs-tertiary-fixed-dim: #C2C3EB;
		--cs-on-tertiary-fixed-variant: #424465;
		--cs-surface-dim: #0F1416;
		--cs-surface-bright: #343A3C;
		--cs-surface-container-lowest: #0A0F11;
		--cs-surface-container-low: #171C1F;
		--cs-surface-container: #1B2023;
		--cs-surface-container-high: #252B2D;
		--cs-surface-container-highest: #303638;
	}
}