@use "sass:map" as map;
@use "abstracts/functions" as *;
@use "abstracts/tokens" as tokens;

////////////////////////////////////////////////////////////////////////////////
/// Variables
////////////////////////////////////////////////////////////////////////////////

// Prefix for CSS variables
$prefix: "cs" !default;

// Page root element
$page-root: "body" !default;

////////////////////////////////////////////////////////////////////////////////

// Enable svg icons
$enable-icons: true !default;

// Enable grid
$enable-grid: true !default;

// Enable form`s controls
$enable-forms: true !default;

// Enable fix input autofill
$enable-autofill-fix: false !default;

// Enable landmarks
$enable-landmarks: true !default;

// Enable one color theme
$enable-one-color: true !default;

// Enable bootstrap utils
$enable-utilities: (
  "align": true,
  "borders": true,
  "display": true,
  "sizing": true,
  "spacing": true,
  "text": true,
) !default;

// Enable negative margins in bootstrap utils
$enable-negative-margins: false !default;

// Enable responsive in bootstrap utils
$enable-responsive-utilities: false !default;

////////////////////////////////////////////////////////////////////////////////

$theme-colors: tokens.$theme-colors !default;

////////////////////////////////////////////////////////////////////////////////

$container-widths: tokens.$container-widths !default;

// Grid breakpoints
$grid-breakpoints: tokens.$grid-breakpoints !default;

////////////////////////////////////////////////////////////////////////////////

// Fonts family
$font-family-base: tokens.$font-family-base !default;
$font-family-monospace: tokens.$font-family-monospace !default;

// Spacing
$spacing: tokens.$spacing !default;
$spacers: tokens.$spacers !default;

// Negative spacers
$negative-spacers: if(sass($enable-negative-margins): negativify-map($spacers); else: null) !default;

// Spec
$font-size-base: tokens.$font-size-base !default;
$font-size-input: tokens.$font-size-input !default;
$btn-font-size: tokens.$btn-font-size !default;
$btn-height: tokens.$btn-height !default;
$input-height: tokens.$input-height !default;
$line-height-base: tokens.$line-height-base !default;
$sidebar-width: tokens.$sidebar-width !default;
$border-radius: tokens.$border-radius !default;
$btn-icon-size: tokens.$btn-icon-size !default;
$btn-inner-icon-size: tokens.$btn-inner-icon-size !default;

// Transition
$transition: tokens.$transition !default;

// Z-index
$z-index-dropdown: tokens.$z-index-dropdown !default;
$z-index-sticky: tokens.$z-index-sticky !default;
$z-index-fixed: tokens.$z-index-fixed !default;
$z-index-offcanvas-backdrop: tokens.$z-index-offcanvas-backdrop !default;
$z-index-offcanvas: tokens.$z-index-offcanvas !default;
$z-index-modal-backdrop: tokens.$z-index-modal-backdrop !default;
$z-index-modal: tokens.$z-index-modal !default;
$z-index-popover: tokens.$z-index-popover !default;
$z-index-tooltip: tokens.$z-index-tooltip !default;
$z-index-toast: tokens.$z-index-toast !default;
