@use "sass:map";
@use "abstracts/functions" as *;

////////////////////////////////////////////////////////////////////////////////
/// Variables
////////////////////////////////////////////////////////////////////////////////

// Prefix for CSS variables
$prefix: "cs" !default;

// Page root element
$page-root: "body" !default;

////////////////////////////////////////////////////////////////////////////////

// Use reset
$enable-reset: true !default;

// Enable material design styles
$enable-material-design: true !default;

// Enable accessibility
$enable-accessibility: true !default;

// Use material color themes variables
$enable-themes: true !default;

// Enable svg icons
$enable-icons: true !default;

// Enable elevations
$enable-elevation: true !default;

// Enable grid
$enable-grid: true !default;

// Enable containers
$enable-containers: true !default;

// Enable form`s controls
$enable-forms: true !default;

// Enable layout
$enable-layouts: true !default;
$enable-page-layout: true !default;

// Enable ripple effect
$enable-css-ripple-effect: true !default;
$enable-js-ripple-effect: false !default;

// Enable utilities
$enable-utilities: (
  "align": true,
  "borders": true,
  "display": true,
  "sizing": true,
  "spacing": true,
  "text": true,
) !default;
$enable-negative-margins: false !default;
$enable-responsive-utilities: false !default;

////////////////////////////////////////////////////////////////////////////////

// design - material | plain
$design: material !default;

////////////////////////////////////////////////////////////////////////////////


// Define the maximum width of `.container` for different screen sizes.
$container-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
) !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;


////////////////////////////////////////////////////////////////////////////////

// Fonts family
$font-family-base: roboto, -apple-system-ui, system-ui, "Segoe UI",  oxygen, ubuntu, cantarell, helvetica, arial,
  "Helvetica Neue", "Noto Sans", sans-serif !default;
$font-family-monospace: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono",
  "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Spacing
$spacing: 1rem !default;
$spacers: (
    0: 0,
    1: $spacing * .25,
    2: $spacing * .5,
    3: $spacing,
    4: $spacing * 1.5,
    5: $spacing * 3,
) !default;
$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;

// Spec
$font-size-base: 1rem !default;
$font-weight-header: 500 !default;
$btn-height: 2.5rem !default;
$input-height: 3.5rem !default;
$line-height-base: 1.5 !default;
$border-radius: 4px !default;
$btn-font-size: 14px !default;
$btn-icon-size: 1.5rem !default;
$btn-inner-icon-size: 1.125rem !default;
$header-height: 6.5rem !default;
$sidebar-width: 20rem !default;

// Z-index
$z-index-dropdown: 1000 !default;
$z-index-sticky: 1020 !default;
$z-index-fixed: 1030 !default;
$z-index-offcanvas-backdrop: 1040 !default;
$z-index-offcanvas: 1045 !default;
$z-index-modal-backdrop: 1050 !default;
$z-index-modal: 1055 !default;
$z-index-popover: 1070 !default;
$z-index-tooltip: 1080 !default;
$z-index-toast: 1090 !default;
