@use "sass:map";

////////////////////////////////////////////////////////////////////////////////
/// Variables
////////////////////////////////////////////////////////////////////////////////

// Prefix for CSS variables
$prefix: "cs" !default;

// Page root element
$page-root: "body" !default;

////////////////////////////////////////////////////////////////////////////////

// Use reset
$enable-reset: true !default;

// Enable accessibility
$enable-accessibility: true !default;

// Use material color themes variables
$enable-themes: true !default;

// Enable svg icons
$enable-icons: true !default;

// Enable elevations
$enable-elevation: true !default;

// Enable grid
$enable-grid: true !default;

// Enable containers
$enable-containers: true !default;

// Enable layout
$enable-layouts: true !default;
$enable-page-layout: true !default;

// Enable ripple effect
$enable-css-ripple-effect: true !default;
$enable-js-ripple-effect: false !default;

////////////////////////////////////////////////////////////////////////////////

// design - material | plain
$design: material !default;

////////////////////////////////////////////////////////////////////////////////


// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
) !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;


////////////////////////////////////////////////////////////////////////////////

// Fonts family
$font-family-base: roboto, -apple-system-ui, system-ui, "Segoe UI",  oxygen, ubuntu, cantarell, helvetica, arial,
  "Helvetica Neue", sans-serif !default;

// Spec
$spacing: 1rem;
$control-height: 2.5rem;
$border-radius: 4px;
$btn-icon-size: 1.5rem;
$header-height: 6.5rem;
$sidebar-width: 20rem;

// Z-index
$z-index-dropdown: 1000 !default;
$z-index-sticky: 1020 !default;
$z-index-fixed: 1030 !default;
$z-index-offcanvas-backdrop: 1040 !default;
$z-index-offcanvas: 1045 !default;
$z-index-modal-backdrop: 1050 !default;
$z-index-modal: 1055 !default;
$z-index-popover: 1070 !default;
$z-index-tooltip: 1080 !default;
$z-index-toast: 1090 !default;
