@use "index" with (
  $root-element: "#root",
  $enable-icons: true,
  $enable-themes: true,
  $enable-containers: true,
  $enable-grid: true,
  $enable-js-ripple-effect: false,
  $enable-css-ripple-effect: true,
);
