@use "../../variables" as *;

/// Css only ripple effect
%ripple-effect {
  background-position: center;
  transition: background .8s;

  &:hover {
    background: var(--#{$prefix}-primary) radial-gradient(circle, transparent 1%, var(--#{$prefix}-primary) 1%) center/15000%;
  }

  &:active {
    background-color: var(--#{$prefix}-primary-70);
    background-size: 100%;
    transition: background 0s;
  }
}

@if $enable-js-ripple-effect {
  // Ripple effect for using with JS
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 800ms linear;
    background-color: var(--#{$prefix}-mask);
    opacity: 0.7;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
