:root:not([data-theme="dark"]) {
	--cs-color-primary: #415F91;
	--cs-color-surface-tint: #415F91;
	--cs-color-on-primary: #FFFFFF;
	--cs-color-primary-container: #D6E3FF;
	--cs-color-on-primary-container: #001B3E;
	--cs-color-secondary: #565F71;
	--cs-color-on-secondary: #FFFFFF;
	--cs-color-secondary-container: #DAE2F9;
	--cs-color-on-secondary-container: #131C2B;
	--cs-color-tertiary: #705575;
	--cs-color-on-tertiary: #FFFFFF;
	--cs-color-tertiary-container: #FAD8FD;
	--cs-color-on-tertiary-container: #28132E;
	--cs-color-error: #BA1A1A;
	--cs-color-on-error: #FFFFFF;
	--cs-color-error-container: #FFDAD6;
	--cs-color-on-error-container: #410002;
	--cs-color-background: #F9F9FF;
	--cs-color-on-background: #191C20;
	--cs-color-surface: #F9F9FF;
	--cs-color-on-surface: #191C20;
	--cs-color-surface-variant: #E0E2EC;
	--cs-color-on-surface-variant: #44474E;
	--cs-color-outline: #74777F;
	--cs-color-outline-variant: #C4C6D0;
	--cs-color-shadow: #000000;
	--cs-color-scrim: #000000;
	--cs-color-inverse-surface: #2E3036;
	--cs-color-inverse-on-surface: #F0F0F7;
	--cs-color-inverse-primary: #AAC7FF;
	--cs-color-primary-fixed: #D6E3FF;
	--cs-color-on-primary-fixed: #001B3E;
	--cs-color-primary-fixed-dim: #AAC7FF;
	--cs-color-on-primary-fixed-variant: #284777;
	--cs-color-secondary-fixed: #DAE2F9;
	--cs-color-on-secondary-fixed: #131C2B;
	--cs-color-secondary-fixed-dim: #BEC6DC;
	--cs-color-on-secondary-fixed-variant: #3E4759;
	--cs-color-tertiary-fixed: #FAD8FD;
	--cs-color-on-tertiary-fixed: #28132E;
	--cs-color-tertiary-fixed-dim: #DDBCE0;
	--cs-color-on-tertiary-fixed-variant: #573E5C;
	--cs-color-surface-dim: #D9D9E0;
	--cs-color-surface-bright: #F9F9FF;
	--cs-color-surface-container-lowest: #FFFFFF;
	--cs-color-surface-container-low: #F3F3FA;
	--cs-color-surface-container: #EDEDF4;
	--cs-color-surface-container-high: #E7E8EE;
	--cs-color-surface-container-highest: #E2E2E9;
}

:root[data-theme="dark"] {
	--cs-color-primary: #AAC7FF;
	--cs-color-surface-tint: #AAC7FF;
	--cs-color-on-primary: #0A305F;
	--cs-color-primary-container: #284777;
	--cs-color-on-primary-container: #D6E3FF;
	--cs-color-secondary: #BEC6DC;
	--cs-color-on-secondary: #283141;
	--cs-color-secondary-container: #3E4759;
	--cs-color-on-secondary-container: #DAE2F9;
	--cs-color-tertiary: #DDBCE0;
	--cs-color-on-tertiary: #3F2844;
	--cs-color-tertiary-container: #573E5C;
	--cs-color-on-tertiary-container: #FAD8FD;
	--cs-color-error: #FFB4AB;
	--cs-color-on-error: #690005;
	--cs-color-error-container: #93000A;
	--cs-color-on-error-container: #FFDAD6;
	--cs-color-background: #111318;
	--cs-color-on-background: #E2E2E9;
	--cs-color-surface: #111318;
	--cs-color-on-surface: #E2E2E9;
	--cs-color-surface-variant: #44474E;
	--cs-color-on-surface-variant: #C4C6D0;
	--cs-color-outline: #8E9099;
	--cs-color-outline-variant: #44474E;
	--cs-color-shadow: #000000;
	--cs-color-scrim: #000000;
	--cs-color-inverse-surface: #E2E2E9;
	--cs-color-inverse-on-surface: #2E3036;
	--cs-color-inverse-primary: #415F91;
	--cs-color-primary-fixed: #D6E3FF;
	--cs-color-on-primary-fixed: #001B3E;
	--cs-color-primary-fixed-dim: #AAC7FF;
	--cs-color-on-primary-fixed-variant: #284777;
	--cs-color-secondary-fixed: #DAE2F9;
	--cs-color-on-secondary-fixed: #131C2B;
	--cs-color-secondary-fixed-dim: #BEC6DC;
	--cs-color-on-secondary-fixed-variant: #3E4759;
	--cs-color-tertiary-fixed: #FAD8FD;
	--cs-color-on-tertiary-fixed: #28132E;
	--cs-color-tertiary-fixed-dim: #DDBCE0;
	--cs-color-on-tertiary-fixed-variant: #573E5C;
	--cs-color-surface-dim: #111318;
	--cs-color-surface-bright: #37393E;
	--cs-color-surface-container-lowest: #0C0E13;
	--cs-color-surface-container-low: #191C20;
	--cs-color-surface-container: #1D2024;
	--cs-color-surface-container-high: #282A2F;
	--cs-color-surface-container-highest: #33353A;
}