@use "../vendor" as *;
@use "../variables" as *;

@mixin border-vars {
  :root {
    --#{$prefix}-border-width: 1px;
    --#{$prefix}-border-style: solid;
    --#{$prefix}-border-color: var(--#{$prefix}-surface-bright);
  }
}

// make borders utilities classes
@mixin borders() {
  @include border-vars;
  @include make-utilities((
      "border": (
          property: border,
          values: (
              null: var(--#{$prefix}-border-width) var(--#{$prefix}-border-style) var(--#{$prefix}-border-color),
              0: 0,
          )
      ),
      "border-top": (
          property: border-top,
          values: (
              null: var(--#{$prefix}-border-width) var(--#{$prefix}-border-style) var(--#{$prefix}-border-color),
              0: 0,
          )
      ),
      "border-end": (
          property: border-right,
          class: border-end,
          values: (
              null: var(--#{$prefix}-border-width) var(--#{$prefix}-border-style) var(--#{$prefix}-border-color),
              0: 0,
          )
      ),
      "border-bottom": (
          property: border-bottom,
          values: (
              null: var(--#{$prefix}-border-width) var(--#{$prefix}-border-style) var(--#{$prefix}-border-color),
              0: 0,
          )
      ),
      "border-start": (
          property: border-left,
          class: border-start,
          values: (
              null: var(--#{$prefix}-border-width) var(--#{$prefix}-border-style) var(--#{$prefix}-border-color),
              0: 0,
          )
      )
  ));
}
