@use "../vendor" as *;
@use "../variables" as *;

// make display utilities classes
@mixin display() {
  @include make-utilities((
      "display": (
          responsive: $enable-responsive-utilities,
          print: false,
          property: display,
          class: d,
          values: inline inline-block block grid inline-grid table table-row table-cell flex inline-flex none
      )));
}
