@use "../variables" as *;

.cs-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  width: auto;
  font-size: 38px;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right, var(--#{$prefix}-primary), var(--#{$prefix}-tertiary));
  background-clip: text;
  cursor: pointer;
}
