@use "sass:color";
@use "sass:list";
@use "sass:math";

// A little juggling is necessary because lists in Sass start from 1
//   instead of 0
// This makes it tricky to convert the a 0~1 $position into the indices
//   of the adjencent colors on the gradient
@function get-color-by-position($colors, $position) {
  // a zero-based index for the last item in the color list
  $lastIdx: list.length($colors) - 1;

  // calculate the real index on the list based on the position
  $stop: ($position * $lastIdx) + 1;

  // based on the stop, get the indices for the pevious and next colors in the list
  $prevIdx: math.floor($stop);
  $nextIdx: math.ceil($stop);

  // get the previous and next colors from the list
  $prevColor: list.nth($colors, $prevIdx);
  $nextColor: list.nth($colors, $nextIdx);

  // calculate the amount of each color to mix
  $amount: $stop - $prevIdx;

  @return color.mix($nextColor, $prevColor, math.percentage($amount));
}
