@use "sass:list" as list;

// Create a list of numbers
@function range($from, $to, $step: 1) {
  // ... validations skipped for brevity

  $list: [];
  @while $from <= $to {
    $list: list.append($list, $from);
    $from: $from + $step;
  }

  @return $list;
}
