@use "../variables" as *;

@mixin document {
  :where(:root) {
    font: 400 1rem/1.5 var(--#{$prefix}-font-family);
    color: var(--#{$prefix}-on-surface);
    background-color: var(--#{$prefix}-surface);
    overflow-wrap: break-word;
    text-underline-offset: 0.1rem;
    text-rendering: optimizelegibility;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
  }
}

@mixin semantic-document {
  #{$semantic-root} {
    & > header {
      padding: var(--#{$prefix}-y-spacing) 0;
      margin-bottom: var(--#{$prefix}-spacing);

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
          display: flex;
          align-items: center;

          hr {
            display: block;
            border-left: 1px solid var(--#{$prefix}-outline-variant);
            height: var(--#{$prefix}-btn-icon-size);
            width: 1px;
            margin: 0 var(--#{$prefix}-x-spacing);
            opacity: .35;
          }

          ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              margin: 0;
              padding: 0;

              :where(a, [role="link"]) {
                padding: 0 calc(0.5 * var(--#{$prefix}-x-spacing));
              }
            }
          }
        }
      }
    }
  }
}
