@use "../variables" as *;

:where(:root) {
  font: 400 16px/1.5 var(--#{$prefix}-font-family);

  color: var(--#{$prefix}-on-surface);
  background-color: var(--#{$prefix}-container-lowest);

  overflow-wrap: break-word;
  text-underline-offset: 0.1rem;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}