@use "../variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map" as map;

@mixin range-track {
  width: 100%;
  height: var(--track-height);
  border-radius: var(--track-height);
  background-color: var(--track-color);
}

@mixin range-thumb {
  $margin-top: calc(var(--track-height) * 0.5 - var(--thumb-height) * 0.5);

  appearance: none;
  width: var(--thumb-height);
  height: var(--thumb-height);
  margin-top: $margin-top;
  border-radius: var(--thumb-height);
  background-color: var(--thumb-color);
  cursor: var(--cursor);
}

@mixin range {
  input[type="range"] {
    --track-height: .5rem;
    --track-color: var(--#{$prefix}-secondary-container);
    --thumb-height: 1.5rem;
    --thumb-color: var(--#{$prefix}-primary);
    --cursor: pointer;

    appearance: none;
    width: 100%;
    height: var(--thumb-height);
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-slider-runnable-track {
      @include range-track;
    }

    &::-webkit-slider-thumb {
      @include range-thumb;
    }

    &::-moz-range-track {
      @include range-track;
    }

    &::-moz-range-thumb {
      @include range-thumb;
    }

    &::-ms-track {
      @include range-track;
    }

    &::-ms-thumb {
      @include range-thumb;
    }

    @include disabled {
      --track-color: var(--#{$prefix}-on-surface);
      --cursor: not-allowed;

      opacity: .38;
    }

    &:active {
      &::-webkit-slider-thumb {
        transform: scale(1.25);
      }

      &::-moz-range-thumb {
        transform: scale(1.25);
      }

      &::-ms-thumb {
        transform: scale(1.25);
      }
    }
  }
}

@if $enable-forms {
  @include range;
}
