@use "../variables" as *;

@mixin select {
  select {
    appearance: none;
    background-image: var(--#{$prefix}-chevron-icon);

    &[multiple] {
      --padding: var(--#{$prefix}-spacing);

      height: auto;
      background-image: none;
    }
  }
}

@if $enable-forms {
  @include select;
}
