@use "../abstracts/mixins" as *;
@use "../variables" as *;

@mixin radio-checkbox {
  label:has([type="radio"], [type="checkbox"]) {
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;

    input {
      margin-right: var(--#{$prefix}-spacing);
    }
  }

  input[type="radio"], input[type="checkbox"] {
    --size: 1.25rem;
    --border-color: var(--#{$prefix}-on-surface-variant);
    --border-width: 2px;
    --background-color: transparent;

    margin: 0 calc(var(--#{$prefix}-spacing) * .5) 0 0;
    width: var(--size);
    height: var(--size);
    border: var(--border-width) solid var(--border-color);
    vertical-align: middle;
    cursor: pointer;
    appearance: none;

    & + label {
      display: inline-flex;
      margin-right: var(--#{$prefix}-spacing);
      cursor: default;

      &:last-child {
        margin-right: 0;
      }
    }

    @include disabled {
      --border-color: var(--#{$prefix}-on-surface);
      --background-color: var(--#{$prefix}-on-surface);

      opacity: .38;
    }
  }

  input[type="radio"] {
    --radio-additional: 1px;
    --radio-point: 30%;

    border-radius: 50%;

    &:checked {
      --border-color: var(--#{$prefix}-primary);

      background-image: radial-gradient(circle, var(--border-color) var(--radio-point), transparent calc(var(--radio-point) + var(--radio-additional)));
    }
  }

  input[type="checkbox"] {
    --size: 1.125rem;
    --indicator-color: var(--#{$prefix}-on-primary);
    --indicator-width: 2px;

    position: relative;

    &:checked {
      --border-color: var(--#{$prefix}-primary);
      --background-color: var(--#{$prefix}-primary);

      background-color: var(--background-color);

      &::after {
        content: "";
        position: absolute;
        top: calc(var(--size) * .1);
        left: calc(var(--size) * .35);
        width: calc(var(--size) * .2);
        height: calc(var(--size) * .6);
        border: solid var(--indicator-color);
        border-width: 0 var(--indicator-width) var(--indicator-width) 0;
        transform: rotate(45deg);
      }
    }
  }

  input[type="checkbox"][role="switch"] {
    --size: 2rem;
    --background-color: var(--#{$prefix}-surface-container-highest);
    --indicator-color: var(--#{$prefix}-outline);
    --border-color: var(--#{$prefix}-outline);

    display: inline-flex;
    width: calc(var(--size) * 1.8);
    border: 2px solid var(--border-color);
    border-radius: var(--size);
    background-color: var(--background-color);

    &::after {
      content: none;
    }

    &::before {
      content: "";
      position: initial;
      display: block;
      aspect-ratio: 1;
      height: 100%;
      margin-left: 0;
      border-radius: 50%;
      transform: none;
      background-color: var(--indicator-color);
    }

    &:checked {
      --border-color: var(--#{$prefix}-primary);
      --background-color: var(--#{$prefix}-primary);
      --indicator-color: var(--#{$prefix}-on-primary);

      &::before {
        margin-left: auto;
      }
    }
  }
}

@if $enable-forms {
  @include radio-checkbox;
}
