

@mixin themes-colors() {
  --base-color: #1e1f26;

  &:not([data-theme="dark"]) {
    --#{$prefix}-primary: #{var(--base-color)};
    --#{$prefix}-on-primary: #{map-get($theme-colors, light-on-primary)};
    --#{$prefix}-secondary: #{map-get($theme-colors, light-secondary)};
    --#{$prefix}-on-secondary: #{map-get($theme-colors, light-on-secondary)};
    --#{$prefix}-tertiary: #{map-get($theme-colors, light-tertiary)};
    --#{$prefix}-on-tertiary: #{map-get($theme-colors, light-on-tertiary)};
    --#{$prefix}-background: #{map-get($theme-colors, light-background)};
    --#{$prefix}-on-background: #{map-get($theme-colors, light-on-background)};
    --#{$prefix}-surface: #{map-get($theme-colors, light-surface)};
    --#{$prefix}-on-surface: #{map-get($theme-colors, light-on-surface)};
    --#{$prefix}-surface-variant: #{map-get($theme-colors, light-surface-variant)};
    --#{$prefix}-on-surface-variant: #{map-get($theme-colors, light-on-surface-variant)};
    --#{$prefix}-primary-container: #{map-get($theme-colors, light-primary-container)};
    --#{$prefix}-on-primary-container: #{map-get($theme-colors, light-on-primary-container)};
    --#{$prefix}-secondary-container: #{map-get($theme-colors, light-secondary-container)};
    --#{$prefix}-on-secondary-container: #{map-get($theme-colors, light-on-secondary-container)};
    --#{$prefix}-tertiary-container: #{map-get($theme-colors, light-tertiary-container)};
    --#{$prefix}-on-tertiary-container: #{map-get($theme-colors, light-on-tertiary-container)};

    --#{$prefix}-surface-tint: #{map-get($theme-colors, light-surface-tint)};
    --#{$prefix}-error: #{map-get($theme-colors, light-error)};
    --#{$prefix}-on-error: #{map-get($theme-colors, light-on-error)};
    --#{$prefix}-error-container: #{map-get($theme-colors, light-error-container)};
    --#{$prefix}-on-error-container: #{map-get($theme-colors, light-on-error-container)};
    --#{$prefix}-outline: #{map-get($theme-colors, light-outline)};
    --#{$prefix}-outline-variant: #{map-get($theme-colors, light-outline-variant)};
    --#{$prefix}-shadow: #{map-get($theme-colors, light-shadow)};
    --#{$prefix}-scrim: #{map-get($theme-colors, light-scrim)};
    --#{$prefix}-inverse-surface: #{map-get($theme-colors, light-inverse-surface)};
    --#{$prefix}-inverse-on-surface: #{map-get($theme-colors, light-inverse-on-surface)};
    --#{$prefix}-inverse-primary: #{map-get($theme-colors, light-inverse-primary)};
    --#{$prefix}-primary-fixed: #{map-get($theme-colors, light-primary-fixed)};
    --#{$prefix}-on-primary-fixed: #{map-get($theme-colors, light-on-primary-fixed)};
    --#{$prefix}-primary-fixed-dim: #{map-get($theme-colors, light-primary-fixed-dim)};
    --#{$prefix}-on-primary-fixed-variant: #{map-get($theme-colors, light-on-primary-fixed-variant)};
    --#{$prefix}-secondary-fixed: #{map-get($theme-colors, light-secondary-fixed)};
    --#{$prefix}-on-secondary-fixed: #{map-get($theme-colors, light-on-secondary-fixed)};
    --#{$prefix}-secondary-fixed-dim: #{map-get($theme-colors, light-secondary-fixed-dim)};
    --#{$prefix}-on-secondary-fixed-variant: #{map-get($theme-colors, light-on-secondary-fixed-variant)};
    --#{$prefix}-tertiary-fixed: #{map-get($theme-colors, light-tertiary-fixed)};
    --#{$prefix}-on-tertiary-fixed: #{map-get($theme-colors, light-on-tertiary-fixed)};
    --#{$prefix}-tertiary-fixed-dim: #{map-get($theme-colors, light-tertiary-fixed-dim)};
    --#{$prefix}-on-tertiary-fixed-variant: #{map-get($theme-colors, light-on-tertiary-fixed-variant)};
    --#{$prefix}-surface-dim: #{map-get($theme-colors, light-surface-dim)};
    --#{$prefix}-surface-bright: #{map-get($theme-colors, light-surface-bright)};
    --#{$prefix}-surface-container-lowest: #{map-get($theme-colors, light-surface-container-lowest)};
    --#{$prefix}-surface-container-low: #{map-get($theme-colors, light-surface-container-low)};
    --#{$prefix}-surface-container: #{map-get($theme-colors, light-surface-container)};
    --#{$prefix}-surface-container-high: #{map-get($theme-colors, light-surface-container-high)};
    --#{$prefix}-surface-container-highest: #{map-get($theme-colors, light-surface-container-highest)};
  }

  &[data-theme="dark"] {
    --#{$prefix}-primary: #{map-get($theme-colors, dark-primary)};
    --#{$prefix}-surface-tint: #{map-get($theme-colors, dark-surface-tint)};
    --#{$prefix}-on-primary: #{map-get($theme-colors, dark-on-primary)};
    --#{$prefix}-primary-container: #{map-get($theme-colors, dark-primary-container)};
    --#{$prefix}-on-primary-container: #{map-get($theme-colors, dark-on-primary-container)};
    --#{$prefix}-secondary: #{map-get($theme-colors, dark-secondary)};
    --#{$prefix}-on-secondary: #{map-get($theme-colors, dark-on-secondary)};
    --#{$prefix}-secondary-container: #{map-get($theme-colors, dark-secondary-container)};
    --#{$prefix}-on-secondary-container: #{map-get($theme-colors, dark-on-secondary-container)};
    --#{$prefix}-tertiary: #{map-get($theme-colors, dark-tertiary)};
    --#{$prefix}-on-tertiary: #{map-get($theme-colors, dark-on-tertiary)};
    --#{$prefix}-tertiary-container: #{map-get($theme-colors, dark-tertiary-container)};
    --#{$prefix}-on-tertiary-container: #{map-get($theme-colors, dark-on-tertiary-container)};
    --#{$prefix}-error: #{map-get($theme-colors, dark-error)};
    --#{$prefix}-on-error: #{map-get($theme-colors, dark-on-error)};
    --#{$prefix}-error-container: #{map-get($theme-colors, dark-error-container)};
    --#{$prefix}-on-error-container: #{map-get($theme-colors, dark-on-error-container)};
    --#{$prefix}-background: #{map-get($theme-colors, dark-background)};
    --#{$prefix}-on-background: #{map-get($theme-colors, dark-on-background)};
    --#{$prefix}-surface: #{map-get($theme-colors, dark-surface)};
    --#{$prefix}-on-surface: #{map-get($theme-colors, dark-on-surface)};
    --#{$prefix}-surface-variant: #{map-get($theme-colors, dark-surface-variant)};
    --#{$prefix}-on-surface-variant: #{map-get($theme-colors, dark-on-surface-variant)};
    --#{$prefix}-outline: #{map-get($theme-colors, dark-outline)};
    --#{$prefix}-outline-variant: #{map-get($theme-colors, dark-outline-variant)};
    --#{$prefix}-shadow: #{map-get($theme-colors, dark-shadow)};
    --#{$prefix}-scrim: #{map-get($theme-colors, dark-scrim)};
    --#{$prefix}-inverse-surface: #{map-get($theme-colors, dark-inverse-surface)};
    --#{$prefix}-inverse-on-surface: #{map-get($theme-colors, dark-inverse-on-surface)};
    --#{$prefix}-inverse-primary: #{map-get($theme-colors, dark-inverse-primary)};
    --#{$prefix}-primary-fixed: #{map-get($theme-colors, dark-primary-fixed)};
    --#{$prefix}-on-primary-fixed: #{map-get($theme-colors, dark-on-primary-fixed)};
    --#{$prefix}-primary-fixed-dim: #{map-get($theme-colors, dark-primary-fixed-dim)};
    --#{$prefix}-on-primary-fixed-variant: #{map-get($theme-colors, dark-on-primary-fixed-variant)};
    --#{$prefix}-secondary-fixed: #{map-get($theme-colors, dark-secondary-fixed)};
    --#{$prefix}-on-secondary-fixed: #{map-get($theme-colors, dark-on-secondary-fixed)};
    --#{$prefix}-secondary-fixed-dim: #{map-get($theme-colors, dark-secondary-fixed-dim)};
    --#{$prefix}-on-secondary-fixed-variant: #{map-get($theme-colors, dark-on-secondary-fixed-variant)};
    --#{$prefix}-tertiary-fixed: #{map-get($theme-colors, dark-tertiary-fixed)};
    --#{$prefix}-on-tertiary-fixed: #{map-get($theme-colors, dark-on-tertiary-fixed)};
    --#{$prefix}-tertiary-fixed-dim: #{map-get($theme-colors, dark-tertiary-fixed-dim)};
    --#{$prefix}-on-tertiary-fixed-variant: #{map-get($theme-colors, dark-on-tertiary-fixed-variant)};
    --#{$prefix}-surface-dim: #{map-get($theme-colors, dark-surface-dim)};
    --#{$prefix}-surface-bright: #{map-get($theme-colors, dark-surface-bright)};
    --#{$prefix}-surface-container-lowest: #{map-get($theme-colors, dark-surface-container-lowest)};
    --#{$prefix}-surface-container-low: #{map-get($theme-colors, dark-surface-container-low)};
    --#{$prefix}-surface-container: #{map-get($theme-colors, dark-surface-container)};
    --#{$prefix}-surface-container-high: #{map-get($theme-colors, dark-surface-container-high)};
    --#{$prefix}-surface-container-highest: #{map-get($theme-colors, dark-surface-container-highest)};
  }
}
