/// Buttons base styles

@use "../variables" as *;
@use "../sizes" as *;

%button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-height: 2.5rem;
  padding: 10px 24px;
  border-radius: var(--#{$prefix}-border-radius);
  border: 1px solid var(--#{$prefix}-primary);
  background-color: var(--#{$prefix}-primary);
  color: var(--#{$prefix}-on-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: none;
  cursor: pointer;

  &:active {
    background-color: var(--#{$prefix}-primary);
  }
}

%button-base-disabled {
  &:is(:disabled, [disabled="true"], [aria-disabled="true"]) {
    background: var(--#{$prefix}-neutral-80) !important;
    color: var(--#{$prefix}-neutral-50);

    &:hover {
      box-shadow: none;

      &::after {
        display: none;
        background-color: transparent !important;
      }
    }
  }
}
