@use "../variables" as *;

@mixin typo {
  h1, h2, h3, h4, h5, h6 {
    --fs: 2.5;

    font-family: var(--#{$prefix}-font-family);
    font-weight: var(--#{$prefix}-font-weight-header);
    margin: var(--#{$prefix}-spacing) 0;
    font-size: calc(var(--#{$prefix}-font-size-base) * var(--fs));
  }

  h2 {
    --fs: 2;
  }

  h3 {
    --fs: 1.75;
  }

  h4 {
    --fs: 1.5;
  }

  h5 {
    --fs: 1.25;
  }

  h6 {
    --fs: 1;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(--#{$prefix}-font-family-mono);
  }

  b,
  strong {
    font-weight: bolder; // Relative to the parent
  }
}

@include typo;
