@use "sass:math";
@use "sass:list";
@use "sass:color" as color;
@use "../functions" as *;
@use "../../variables" as *;

@mixin color-generator($colors, $from: 10, $to: 90, $step: 10) {
  // creates a list of weights, from 10 to 90 (default)
  $weights: range($from, $to, $step);

  // get the index of the last weight
  $last-idx: list.length($weights) - 1;

  // loops through the weights
  @for $idx from 0 through $last-idx {
    // get the weight by index
    $weight: list.nth($weights, $idx + 1);

    // get the position of the weight on the gradient
    $pos: math.div($idx, $last-idx);

    // pick the color
    $color: #{get-color-by-position($colors, $pos)};

    @content ($weight, $color);
  }
}

// generate color css variables
@mixin generate-color-vars($name, $colors, $from: 10, $to: 90, $step: 10) {
  @include color-generator($colors, $from, $to, $step) using($weight, $color) {
    --#{$prefix}-#{$name}-#{$weight}: #{$color};
  }
}

// generate extra color css variables
@mixin generate-extra-color-vars($name, $colors, $base-index: 4) {
  $baseColor: list.nth($colors, $base-index);

  --#{$prefix}-#{$name}-95: #{color.mix(white, $baseColor, 93.75%)};
  --#{$prefix}-#{$name}-99: #{color.mix(white, $baseColor, 99%)};
}
