@use "../variables" as *;

@mixin form {
  form {
    display: flex;
    flex-flow: column;
    gap: var(--#{$prefix}-spacing);

    &[role="search"] {
      --group-border-radius: 999px;

      flex-flow: row;
      gap:0;
      width: 100%;

      input {
        border-radius: 0;
      }
    }
  }
}

@if $enable-forms {
  @include form;
}
