@use "../variables" as *;

@mixin radio-button {
  label:has([type="checkbox"],[type="radio"]) {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    margin-right: var(--#{$prefix}-spacing);
    cursor: pointer;
  }

  input[type="radio"] {
    --radio-btn-color: var(--#{$prefix}-on-surface-variant);
    --radio-btn-additional: 1px;
    --radio-btn-size: 30%;

    position: relative;
    margin: 0 calc(var(--#{$prefix}-spacing) * .5) 0 0;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--radio-btn-color);
    vertical-align: middle;
    cursor: pointer;
    appearance: none;

    &+label {
      vertical-align: middle;
      cursor: pointer;
    }

    &:checked {
      --radio-btn-color: var(--#{$prefix}-primary);

      background-image: radial-gradient(circle, var(--radio-btn-color) var(--radio-btn-size), transparent calc(var(--radio-btn-size) + var(--radio-btn-additional)));
    }
  }
}

@if $enable-forms {
  @include radio-button;
}
