@use "../abstracts/mixins" as *;
@use "../variables" as *;

@mixin radio-checkbox {
  label:has([type="radio"], [type="checkbox"]) {
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: var(--#{$prefix}-spacing);
    cursor: pointer;

    input {
      margin-right: var(--#{$prefix}-spacing);
    }
  }

  input[type="radio"], input[type="checkbox"] {
    --size: 1.25rem;
    --border-color: var(--#{$prefix}-on-surface-variant);
    --border-width: 2px;
    --background-color: transparent;

    margin: 0 calc(var(--#{$prefix}-spacing) * .5) 0 0;
    width: var(--size);
    height: var(--size);
    border: var(--border-width) solid var(--border-color);
    vertical-align: text-bottom;
    cursor: pointer;
    appearance: none;

    & + label {
      display: inline-flex;
      margin-right: var(--#{$prefix}-spacing);
      vertical-align: text-bottom;
      cursor: default;
    }

    @include disabled {
      --border-color: var(--#{$prefix}-outline-disabled);
      --background-color: var(--#{$prefix}-outline-disabled);
    }
  }

  input[type="radio"] {
    --radio-additional: 1px;
    --radio-point: 30%;

    border-radius: 50%;

    &:checked {
      --border-color: var(--#{$prefix}-primary);

      background-image: radial-gradient(circle, var(--border-color) var(--radio-point), transparent calc(var(--radio-point) + var(--radio-additional)));
    }
  }

  input[type="checkbox"] {
    --size: 1.125rem;
    --indicator-color: var(--#{$prefix}-on-primary);
    --indicator-width: 2px;

    position: relative;

    &:checked {
      --border-color: var(--#{$prefix}-primary);
      --background-color: var(--#{$prefix}-primary);

      background-color: var(--background-color);

      @include disabled {
        --border-color: var(--#{$prefix}-outline-disabled);
        --background-color: var(--#{$prefix}-outline-disabled);
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(var(--size) * .1);
        left: calc(var(--size) * .35);
        width: calc(var(--size) * .2);
        height: calc(var(--size) * .6);
        border: solid var(--indicator-color);
        border-width: 0 var(--indicator-width) var(--indicator-width) 0;
        transform: rotate(45deg);
      }
    }
  }
}

@if $enable-forms {
  @include radio-checkbox;
}
