$primary: #6750A4;
$on-primary: #fff;

$colors: (
  themes: primary secondary tertiary error neutral,
  primary-colors: #21005D #381E72 #4F378B #6750A4 #7F67BE #9A82DB #B69DF8 #D0BCFF #EADDFF,
  secondary-colors: #1D192B #332D41 #4A4458 #625B71 #7A7289 #958DA5 #B0A7C0 #CCC2DC #E8DEF8,
  tertiary-colors: #31111D #492532 #633B48 #7D5260 #986977 #B58392 #D29DAC #EFB8C8 #FFD8E4,
  error-colors: #410E0B #601410 #8C1D18 #B3261E #DC362E #E46962 #EC928E #F2B8B5 #F9DEDC,
  neutral-colors: #1D1B20 #322F35 #48464C #605D64 #79767D #938F96 #AEA9B1 #CAC5CD #E6E0E9,
  base-index: 4,
) !default;
